/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "Alte DIN 1451 Mittelschrift";
    src: url("../fonts/din1451alt.eot?") format("eot"),
    url("../fonts/din1451alt.woff") format("woff"),
    url("../fonts/din1451alt.ttf") format("truetype"),
    url("../fonts/din1451alt.svg#AlteDIN1451Mittelschrift") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans Light";
    src: url("../fonts/firasans-light.eot?") format("eot"),
    url("../fonts/firasans-light.woff") format("woff"),
    url("../fonts/firasans-light.ttf") format("truetype"),
    url("../fonts/firasans-light.svg#AlteDIN1451Mittelschrift") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #72a3a8;
    margin: 0;
    padding: 80px 0 20px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

#bg {
    margin: auto;
    width: 100%;
    height: auto;
}

.intro {
    color: #ffffff;
    font-weight: 400;
}

.intro h1 {
    font-family: "Alte DIN 1451 Mittelschrift", Tahoma, Geneva, sans-serif;
    font-size: 50px;
    text-wrap: none;
    margin: 0;
    letter-spacing: 6px;
}

.intro h3 {
    font-family: "Fira Sans Light", Tahoma, Geneva, sans-serif;
    font-size: 20px;
    margin-top: 0;
    letter-spacing: 1px;
}

.social {
    color: #507d82;
    font-size: 9px;
    vertical-align: middle;
}

.comma {
    color: #4a797f;
}

.social span.fa-circle {
    vertical-align: middle;
    color: #5d8c92;
}

.social a {
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #507d82;
    margin: 3px;
    width: 40px;
    color: #507d82;
    height: 40px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 400;
}

.social a > span {
    vertical-align: middle;
    padding-bottom: 3px;

}

.social a:hover, .social a:focus {
    border-color: #ffffff;
    color: #ffffff;
}