<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hamid FzM</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/hover.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<div id="bg">
    <img src="{{ url_for('static', filename='image/tback.svg') }}" alt=""/>
</div>

<div class="intro">
    <h1>HAMID FZM</h1>

    <h3>WEB DEVELOPER, PYTHON, PHP</h3>
</div>
<div class="social">
    <a href="#"><span class="fa fa-twitter"></span></a>
    <span class="fa fa-circle"></span>
    <a href="#"><span class="fa fa-facebook"></span></a>
    <span class="fa fa-circle"></span>
    <a href="#"><span class="fa fa-google-plus"></span></a>
    <span class="fa fa-circle"></span>
    <a href="#"><span class="fa fa-linkedin"></span></a>
    <span class="fa fa-circle"></span>
    <a href="#"><span class="fa fa-instagram"></span></a>
    <span class="fa fa-circle"></span>
    <a href="#"><span class="fa fa-envelope-o"></span></a>
</div>


</body>
</html>